<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>games</mat-icon>
  </button>
  <span>Sala de juegos</span>
  <span class="example-spacer"></span>
  <div>
    <a mat-button [routerLink]="'/home'"> Home </a>
    
    @if (authService.auth.currentUser?.email){
      <a mat-button  (click)="this.authService.logout()" [routerLink]="'/login'"> Logout </a>
    } @else{
      <a mat-button [routerLink]="'/register'"> Register </a>
      <a mat-button  [routerLink]="'/login'">Login </a>
    }


  </div>
</mat-toolbar>

